# Python Variable Types Cheat Sheet

| **Variable Type**         | **Description**               | **Example**                            | **Type Check**                |
| ------------------------- | ----------------------------- | -------------------------------------- | ----------------------------- |
| Integer (`int`)           | Whole numbers                 | `age = 25`                             | `type(age)` â†’ `<class 'int'>` |
| Float (`float`)           | Decimal numbers               | `price = 99.99`                        | `<class 'float'>`             |
| Complex (`complex`)       | Complex numbers               | `z = 2 + 3j`                           | `<class 'complex'>`           |
| String (`str`)            | Text                          | `name = "Mashfiq"`                     | `<class 'str'>`               |
| Boolean (`bool`)          | True/False                    | `is_active = True`                     | `<class 'bool'>`              |
| List (`list`)             | Ordered, mutable collection   | `numbers = [1, 2, 3]`                  | `<class 'list'>`              |
| Tuple (`tuple`)           | Ordered, immutable collection | `coords = (10, 20)`                    | `<class 'tuple'>`             |
| Range (`range`)           | Sequence of numbers           | `nums = range(5)`                      | `<class 'range'>`             |
| Set (`set`)               | Unordered, no duplicates      | `unique = {1, 2, 3}`                   | `<class 'set'>`               |
| Frozen Set (`frozenset`)  | Immutable version of set      | `fs = frozenset([1,2,3])`              | `<class 'frozenset'>`         |
| Dictionary (`dict`)       | Key-value pairs               | `person = {"name":"Mashfiq","age":25}` | `<class 'dict'>`              |
| NoneType (`None`)         | Represents absence of value   | `result = None`                        | `<class 'NoneType'>`          |
| Dynamic Variable          | Can change type at runtime    | `var = 10; var = "Ten"`                | `type(var)` changes           |
| Constant (by convention)  | Value meant not to change     | `PI = 3.14159`                         | `<class 'float'>`             |
| Bytes (`bytes`)           | Immutable sequence of bytes   | `b = b"Hello"`                         | `<class 'bytes'>`             |
| Bytearray (`bytearray`)   | Mutable sequence of bytes     | `ba = bytearray([65,66,67])`           | `<class 'bytearray'>`         |
| Memoryview (`memoryview`) | View of byte data             | `mv = memoryview(b"Hello")`            | `<class 'memoryview'>`        |

### Variables

#### Numeric

In [ ]:
age = 25
print(age, type(age))

In [ ]:
price = 99.99
print(price, type(price))

In [ ]:
com = 2 + 3j
print(com, type(com))

#### String

In [ ]:
name = "mashfiq"
gretting = "Hello Data Science"
multi = """this is a multiline text"""

print(name, type(name))
print(gretting, type(gretting))
print(multi, type(multi))

#### Boolean

In [ ]:
is_active = True
is_admin = False
print(is_active, type(is_active))
print(is_admin, type(is_admin))

### Sequence

#### List

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers, type(numbers))
fruits = ["apple", "banana", "mango"]
print(fruits, type(fruits))

#### Tuple

In [ ]:
coordinates = (10.0, 20.0)
print(coordinates, type(coordinates))
colors = ("red", "green", "blue")
print(colors, type(colors))

#### Range

In [ ]:
nums = range(0, 5)
print(nums, type(nums))
print(list(nums), type(nums))

#### Sets

In [ ]:
unique_nums = {1, 2, 3, 4, 5}
print(unique_nums, type(unique_nums))

#### Dictionary

In [ ]:
person = {"name": "Mash", "age": 31, "city": "khulna"}
print(person, type(person))
print(person["name"])

#### NoneType

In [ ]:
result = None
print(result, type(result))

#### Dynamic Variables

In [ ]:
var = 10
var = "Ten"
var = [10]

print(var, type(var))

#### Constants

In [ ]:
PI = 3.14159
GRAVITY = 9.8

print(PI, type(PI))
print(GRAVITY, type(GRAVITY))

#### Type Conversion

In [ ]:
str(20)

In [ ]:
int(20.6)

In [ ]:
float(5)

#### Output Formatting

In [ ]:
a = 10
b = 20

print("The value of a is {} and b is {}".format(a, b))
print("The value of b is {1} and a is {0}".format(a, b))
print("Hello {name}, {greeting}".format(name="Mash", greeting="Good Morning!"))

#### Python Input

In [ ]:
num = input("Enter a number: ")
print(num)

In [ ]:
x = 5
y = 5

print(x is y)

print(x is not y)

In [ ]:
lst = [1, 2, 3, 4, 5]
print(1 in lst)
print(1 not in lst)

### if...else

In [ ]:
num = 10
if num == 10:
    print("Number is positive")
print("this will always print")

In [ ]:
num = 10

if num > 0:
    print("Positive Number")
else:
    print("Negative Number")

In [ ]:
num = 0

if num > 0:
    print("Positive Number")
elif num == 0:
    print("ZERO")
else:
    print("Negative Number")

In [ ]:
num = 10.5

if num >= 0:
    if num == 0:
        print("ZERO")
    else:
        print("Positive Number")
else:
    print("Negative Number")

In [ ]:
num1 = 10
num2 = 50
num3 = 15

if (num1 >= num2) and (num1 >= num3):
    largest = num1
elif (num2 >= num1) and (num2 >= num3):
    largest = num2
else:
    largest = num3

print(largest)

#### while loop

In [ ]:
lst = [10, 20, 30, 40, 50]

product = 1
index = 0

while index < len(lst):
    product *= lst[index]
    index += 1

print("Product is : {}".format(product))

#### while loop with else

In [ ]:
numbers = [1, 2, 3, 4, 5]
index = 0 

while index < len(numbers) :
    print(numbers[index])
    index += 1
else:
    print("No item left in the list")

#### Is Prime

In [ ]:
num = int(input("Enter a number: "))

isDivisible = False
i = 2

while i < num:
    if num % i == 0:
        isDivisible = True
        print("{} is divisible by {}".format(num, i))
    i += 1

if isDivisible:
    print("{} is Not a Prime number.".format(num))
else:
    print("{} is a Prime number.".format(num))

#### for loop

In [ ]:
lst = [10, 20, 30, 40, 50]
product = 1

for ele in lst:
    product *= ele

print(product)

#### range()

In [ ]:
for i in range(10):
    print(i)

In [ ]:
for i in range(1, 20, 2):
    print(i)

In [ ]:
for i in range(0, 20, 5):
    print(i)

In [ ]:
lst = ["Mash", "Safa", "Nosh", "Shad", "Rak", "Sham"]

for index in range(len(lst)):
    print(lst[index])

#### for loop with else

In [ ]:
numbers = [1, 2, 3]

for item in numbers:
    print(item)
else:
    print("No more items")

#### All The Prime Number between an interval

In [ ]:
index1 = int(input("Enter Strating point of numbers: "))
index2 = int(input("Enter End point of numbers: "))

print("Prime numbers between {} and {} are: ".format(index1, index2))

for num in range(index1, index2 + 1):
    if num > 1:
        isDivisible = False
        for index in range(2, num):
            if num % index == 0:
                isDivisible = True
        if not isDivisible:
            print(num)

### Python List Cheat Sheet

| **Operation**          | **Description**               | **Example**                             | **Output**                                  |
| ---------------------- | ----------------------------- | --------------------------------------- | ------------------------------------------- |
| Create a list          | Define with `[]`              | `fruits = ["apple", "banana", "mango"]` | `['apple', 'banana', 'mango']`              |
| Access element         | Use index (0-based)           | `fruits[0]`                             | `'apple'`                                   |
| Negative index         | Access from end               | `fruits[-1]`                            | `'mango'`                                   |
| Slice list             | Get sublist                   | `fruits[0:2]`                           | `['apple', 'banana']`                       |
| Append item            | Add at end                    | `fruits.append("orange")`               | `['apple','banana','mango','orange']`       |
| Insert item            | Add at specific index         | `fruits.insert(1, "grape")`             | `['apple','grape','banana','mango']`        |
| Extend list            | Add multiple items            | `fruits.extend(["kiwi","melon"])`       | `['apple','banana','mango','kiwi','melon']` |
| Remove item (by value) | Remove first matching element | `fruits.remove("banana")`               | `['apple','mango']`                         |
| Pop item (by index)    | Remove and return element     | `fruits.pop(1)`                         | returns `'banana'`                          |
| Delete item            | Remove by index with `del`    | `del fruits[0]`                         | Removes first element                       |
| Clear list             | Remove all items              | `fruits.clear()`                        | `[]`                                        |
| Length of list         | Count items                   | `len(fruits)`                           | `3`                                         |
| Check existence        | Use `in` keyword              | `"apple" in fruits`                     | `True`                                      |
| Sort list              | Sort ascending                | `fruits.sort()`                         | Sorted list                                 |
| Sort descending        | Sort reverse                  | `fruits.sort(reverse=True)`             | Reverse sorted                              |
| Reverse list           | Reverse order                 | `fruits.reverse()`                      | Reversed list                               |
| Copy list              | Create shallow copy           | `copy_fruits = fruits.copy()`           | Same list copy                              |
| Join lists             | Concatenate lists             | `list1 + list2`                         | Combined list                               |
| Repeat list            | Duplicate items               | `fruits * 2`                            | Repeated list                               |
| List comprehension     | Create list with expression   | `[x*2 for x in [1,2,3]]`                | `[2, 4, 6]`                                 |

### Lists

In [ ]:
lst0 = []

lst1 = ["one", "Two", "Three"]

lst2 = [1, 2, 3, 4]

lst3 = [[1, 2], [3, 4]]

lst4 = [1, 'str', 2, 3]

In [ ]:
print(len(lst4))

In [ ]:
lst = ["one", "Two", "Three"]
lst.append('Four')
print(lst)

In [ ]:
lst = ["one", "Two", "Three"]
lst.insert(3, "Four")
print(lst)

In [ ]:
lst = ["one", "Two", "Two", "Three"]
lst.remove("Two")
print(lst)

In [ ]:
lst1 = ["one", "Two", "Two", "Three"]
lst2 = ["Four", "Five"]

lst1.append(lst2)
print(lst1)

In [ ]:
lst1 = ["one", "Two", "Two", "Three"]
lst2 = ["Four", "Five"]

lst1.extend(lst2)
print(lst1)

In [ ]:
lst = ["one", "Two", "Three", "Four", "Five"]
del lst[1]
print(lst)

In [ ]:
lst = ["one", "Two", "Three", "Four", "Five"]
a = lst.pop(1)
print(a)
print(lst)

In [ ]:
lst = ["one", "Two", "Three", "Four", "Five"]

if "Two" in lst:
    print("AI")

if "Six" not in lst:
    print("ML")

In [ ]:
numbers = [3, 1, 6, 2, 8]
sorted_lst = sorted(numbers)
reverse_sort_lst = sorted(numbers, reverse=True)

print(numbers)
numbers.sort()

print(sorted_lst)
print(reverse_sort_lst)
print(numbers)

In [ ]:
lst = [1, 2, 3, 4, 5]
abc = lst
abc.append(6)

print(abc)
print(lst)

In [ ]:
s = "one,Two,Three,Four,Five"
slst = s.split(',')
print(s)
print(slst)

In [ ]:
s = "This is applied AI Course"
split_lst = s.split()
print(split_lst)

In [ ]:
numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90]
print(numbers[:])
print(numbers[0:4])
print(numbers[::2])
print(numbers[2::2])

In [ ]:
lst1 = [1, 2, 3, 4]
lst2 = ["Mash", "Safa"]
new_lst = lst1 + lst2

print(new_lst)

In [ ]:
numbers = [1, 2, 3, 1, 3, 4, 2, 5]
print(numbers.count(1))
print(numbers.count(3))

In [ ]:
for ele in new_lst:
    print(ele)

#### List Comprehension

In [ ]:
sqrs = []

for i in range(10):
    sqrs.append(i**2)

print(sqrs)

In [ ]:
sqrs = [i**2 for i in range(10)]
print(sqrs)

In [ ]:
lst = [-10, -20, 10, 20, 50]
new_lst = [i * 2 for i in lst]
print(new_lst)

new_lst = [i * 2 for i in lst if i >= 0]
print(new_lst)

new_lst = [(i, i**2) for i in range(10)]
print(new_lst)

In [ ]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

transposed = []

for i in range(4):
    lst = []
    for row in matrix:
        lst.append(row[i])
    transposed.append(lst)

print(transposed)

In [ ]:
transposed = [[row[i] for row in matrix] for i in range(4)]
print(transposed)